<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="server_bluetoothexample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <server_bluetoothexample.Properties.Settings>
            <setting name="applicationGuid" serializeAs="String">
                <value>a0000000-a000-a000-a000-a00000000000</value>
            </setting>
        </server_bluetoothexample.Properties.Settings>
    </applicationSettings>
</configuration>